<div id="contact" class="contact">
  <div class="row">
    <div class="col-12">
      <h2 class="p-5 py-5 mt-5 cont d-inline-flex">CONTACTO</h2>
      <p class="p-5 w-responsive mx-auto text-secondar">
        Preguntas? Sugerencias? Queres contactarme?
        <br />Te dejo mis redes para seguir conectados.
      </p>
      <div>
        <!--Section: Contact v.2-->
        <a href="https://github.com/Emibroggi" target="_blank" alt="GitHub"
          ><i class="bi bi-github m-3 icon"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/emiliano-broggi/"
          target="_blank"
          alt="Linkedin"
          ><i class="bi bi-linkedin m-3 icon"></i
        ></a>
        <a href="mailto:broggi4@hotmail.com" target="_blank" alt="GitHub"
          ><i class="bi bi-envelope m-3 icon"></i
        ></a>
      </div>
      <div class="ico">
        <br class="p-5" />
        <a
          href="https://www.instagram.com/emiibroggi/"
          target="_blank"
          alt="Instagram"
          ><i class="bi bi-instagram m-3 icon"></i
        ></a>
        <a href="tel:543454039796" target="_blank" alt="Instagram"
          ><i class="bi bi-phone m-3 icon"></i
        ></a>
        <a href="https://wa.me/543454039796" target="_blank" alt="Instagram"
          ><i class="bi bi-whatsapp m-3 icon"></i
        ></a>
      </div>

      <!--Section: Contact v.2-->

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
