<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home"
      ><span class="material-symbols-outlined"> home </span></a
    >
    <a class="navbar-brand text-start" href="home"
      ><img src="../../../assets/imgs/header-arg.png" alt="Argentina Programa"
    /></a>

    <div>
      <div class="d-flex justify-content-end">
        <a class="link p-2" href="contact">Contacto</a>
        <a class="link p-2" href="/login"
          ><span class="material-symbols-outlined" alt="LogIn"> login </span></a
        >
      </div>
    </div>
  </div>
</nav>
